*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
} 

body{
    background-color: #1B262C;
}

.topnav {
    display: flex;
    justify-content: center;
  }

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 2.5rem;
    font-family:sans-serif;
  }

  .topnav a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .topnav a.active {
  background-color:#ddd;
    color: white;
  }

.top_text{
  font-family: sans-serif;
  font-size: 2.5rem;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
}

main{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3rem;
  gap: 5rem;
  padding-left: 7.5rem;
} 

img{
  width: 40rem;
  height: 20rem;
  display: flex;
  align-items: center;
}

.inputs{
  margin-top: 3rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.inputs > div{
  display: flex;
  align-items: center;
  width: 20rem;
}

.filter{
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-left: 5rem;
  -webkit-appearance: none;
  appearance: none;
  background: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.filter:checked{
  background: rgb(123, 123, 123);

}

.filter:checked ~ .label{
  text-decoration: underline;
}

.websites{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.website :hover{
  transform: scale(1.02) translateY(-0.7rem);
  cursor: pointer;
}


.background{
  height: 15rem
}


/* animaties */


@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #000000 50%, #00ff9d 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:16s;
}

.blank{
  height: 10rem;
}


@media (max-width: 500px) {
  h1{
    font-size: 1.6rem;

  }

  img{
    width: 30rem;
    height: 15rem;
  }

  main{
    padding-top: 3rem;
    gap: 5rem;
    padding-left: 0rem;
  }
}